* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
}

/* Body Style */
body {
    font-family: 'Inter', sans-serif;
    background: #f7f7f7;
    color: #333;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header Section */
header {
    background-color: #0077B6;
    color: white;
    padding: 20px 0;
    text-align: center;
}

p{
    margin-bottom: 20px;
    line-height: 1.2;
}

/* Navigation Bar */
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px 0;
    margin: 0;
}

.nav-btn {
    text-decoration: none;
    padding: 10px 20px;
    background-color: #0077B6;
    color: white;
    border-radius: 25px;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.2s;
    cursor: pointer;
}

.nav-btn:hover {
    background-color: #118ab2;
    transform: scale(1.05);
}

.nav-btn.active {
    background-color: #118ab2; 
}
  
/* About Me Section */
.profile-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 50px;
    /* flex-wrap: wrap;  */       /* to  make mobile responsive, uncomment this line*/
    background-color: #f7f7f7;
}

/* Skills */
.skills {
    margin-top: 30px;
}  
.skills ul {
    list-style: none;
    padding-left: 0;
}
.skills li::before {
    content: "✓";
    margin-right: 8px;
    color: #0077b6;
}
 
.intro-line {
    font-size: 1.2rem;
    color: #4a4a4a;
    font-weight: 600;
    margin-bottom: 1rem;
  }

.profile-img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-right: 30px;
    border: 4px solid #ccc;
    object-fit: cover;
    transition: transform 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
  
label:hover .profile-img {
    transform: scale(1.05);
}

.profile-img:hover {
    transform: scale(1.05);
}

.profile-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
/* Fullscreen overlay hidden by default */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);  
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* When checkbox is checked, show fullscreen overlay */
#profile-toggle:checked ~ .overlay {
    display: flex;
}

#profile-toggle:checked ~ .overlay img {
    max-width: 90vw;
    max-height: 90vh;
    width: auto;
    height: auto;
    border-radius: 500px;
    box-shadow: 0 0 20px white;
}

.overlay img {
    pointer-events: none; /* Prevent the image from blocking clicks to close */
}

/* Zoomed image style */
.zoom-img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50px;
    box-shadow: 0 0 20px white;
    pointer-events: none;          /* Prevent accidental clicks */
    transition: transform 0.3s ease;
}

.profile-text h2 {
    font-size: 1.8rem;
    color: #0077B6;
    margin-bottom: 20px;
}

.profile-text {
    max-width: 800px;
    margin: 10px auto;
    padding: 20px;
    text-align: justify;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 8px 40px rgba(0,0,0,0.1);
    animation: fadeInUp 1s ease-in-out;
  }

.projects-section ul li {
  margin-bottom: 30px; 
}

  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(30px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  

/* Common page section */
.about-page .profile-text, 
.education-page .profile-text,
.experience-page .profile-text,
.projects-page .profile-text,
.hobbies-page .profile-text,
.contact-page .profile-text{
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 200px);
    padding: 40px;
    background-color: #f7f7f7;
    font-size: 1.1rem;
    color: #333;
    text-align: justify;
}

/* Footer Section */
footer {
    background-color: #0077B6;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: auto;
}

.social-links a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.2rem;
}

.social-links a:hover {
    color: #1a2a5d;
}

.back-to-top {
    display: inline-block;
    margin-top: 15px;
    background-color: #0077B6;
    color: white;
    padding: 10px 15px;
    bottom: 25px;
    right: 20px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;     
    font-size: 14px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    transition: transform 0.3s ease;
    z-index: 999;
}

.back-to-top:hover {
    background-color: #118ab2;
    transform: scale(1.05);
}
